@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables */
:root {
	--dark-color: #090f10;
	--primary-color: #860d26;
	--dark-primary: #4d0917;
}

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Element Styling */
body {
	background: var(--dark-color);
	color: #fff;
	font-family: 'Roboto', 'Arial', 'Sans-Serif';
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: auto;
}

.btn {
	border: none;
	cursor: pointer;
	background: var(--primary-color);
	color: #fff;
	padding: 0.75rem 2rem;
	font-size: 1.1rem;
	transition: 0.4s all ease;
}

.btn:not(.btn-disabled):hover {
	background: var(--dark-primary);
}

.btn:focus {
	outline: none;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-disabled {
	cursor: not-allowed;
	background: lightgray;
	color: gray;
}

.input {
	padding: 0.5rem;
	outline: none;
	font-size: 1rem;
	border: none;
}

.danger-input {
	background: #ed4337;
}
.danger-input::placeholder {
	color: #fff;
}

.label {
	font-size: 1.2rem;
}

.my-S {
	margin: 1rem 0;
}

.my-XS {
	margin: 0.6rem 0;
}

/* Styling */
.video-container {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 2rem;
	max-width: 70%;
}

.controls,
.video-container video {
	width: 100%;
}

.video-container .controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	padding: 1rem 0.75rem;
	align-items: center;
	background: linear-gradient(0, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	transition: all 0.4s ease;

	opacity: 0;
}

.video-container video:hover + .controls,
.video-container .controls:hover {
	opacity: 1;
}

.video-container .slider {
	flex: 1;
	height: 20px;
	display: flex;
	align-items: center;
	margin-right: 0.5rem;
	position: relative;
}

/* Buttons */
.video-container i {
	margin-right: 1rem;
	cursor: pointer;
	transform: scale(0.9);
}

.video-container .fa-expand {
	margin-right: 0.5rem;
	margin-left: 1rem;
}

/* Slider */
.video-container .bar {
	width: 100%;
	height: 5px;
	background: cornflowerblue;
	cursor: pointer;
}

.video-container .slider-btn {
	width: 5px;
	height: 20px;
	background: #fff;
	position: absolute;
	left: -2.5px;
	cursor: pointer;
}

/* Overlay */
.video-container .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay .user-join-container {
	display: grid;
	place-items: center;
}

.admin-join-container {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	display: flex;
	align-items: center;
}

.admin-join {
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
}

.admin-input {
	padding: 0.3rem 0.5rem;
	margin-left: 0.5rem;
	visibility: hidden;
}

/* Chat Styling */
.chat-container {
	padding: 1.75rem;
	background: #222;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	width: 25%;
}

.messages-container {
	height: 80%;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}

.message-form {
	height: 20%;
}

.message-input {
	width: 100%;
	background: #333;
	color: #fff;
}

.message-container.sender {
	text-align: right;
	margin-right: 0.5rem;
}

.message-container .message-username {
	color: #ddd;
	margin-bottom: 0.2rem;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
	.video-container {
		width: 100%;
	}
	.chat-container {
		width: 100%;
		position: relative;
	}
}

